{% extends "themes/base_admin.html.twig" %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block description %}Modifier mon mot de passe{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modifier mon mot de passe</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                {{form_start(form)}}
                    <div class="mb-3">
                        <label for="edit_password_form_currentPassword">Mot de passe actuel</label>
                        <div class="text-danger">{{form_errors(form.currentPassword)}}</div>
                        {{form_widget(form.currentPassword, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="edit_password_form_plainPassword_first">Nouveau de passe</label>
                        <div class="text-danger">{{form_errors(form.plainPassword.first)}}</div>
                        {{form_widget(form.plainPassword.first, {'attr': {'class':'form-control', 'placeholder':'Au moins 12 caractères.'}})}}
                    </div>
                    <div class="mb-3">
                        <label for="edit_password_form_plainPassword_second">Confirmation du nouveau mot de passe</label>
                        <div class="text-danger">{{form_errors(form.plainPassword.second)}}</div>
                        {{form_widget(form.plainPassword.second, {'attr': {'class':'form-control'}})}}
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-primary">
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </div>
{% endblock %}