<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="author" content="ogougerot">
		<title>{% block title %}{% endblock %} - Espace admin </title>

		{# Favicon #}
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
		<link rel="shortcut icon" href="/favicon.ico"/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
		<link rel="manifest" href="/site.webmanifest"/>
		<meta name="theme-color" content="#712cf9">

        {# Font awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		{% block jQuery %}{% endblock %}

		{% block dataTables %}{% endblock %}

		{% block select2 %}{% endblock %}

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none
			}
			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem
				}
			}
			.b-example-divider {
				width: 100%;
				height: 3rem;
				background-color: #0000001a;
				border: solid rgba(0, 0, 0, .15);
				border-width: 1px 0;
				box-shadow: inset 0 0.5em 1.5em #0000001a, inset 0 0.125em 0.5em #00000026
			}
			.b-example-vr {
				flex-shrink: 0;
				width: 1.5rem;
				height: 100vh
			}
			.bi {
				vertical-align: -0.125em;
				fill: currentColor
			}
			.nav-scroller {
				position: relative;
				z-index: 2;
				height: 2.75rem;
				overflow-y: hidden
			}
			.nav-scroller .nav {
				display: flex;
				flex-wrap: nowrap;
				padding-bottom: 1rem;
				margin-top: -1px;
				overflow-x: auto;
				text-align: center;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch
			}
			.btn-bd-primary {
				--bd-violet-bg: #712cf9;
				--bd-violet-rgb: 112.520718, 44.062154, 249.437846;
				--bs-btn-font-weight: 600;
				--bs-btn-color: var(--bs-white);
				--bs-btn-bg: var(--bd-violet-bg);
				--bs-btn-border-color: var(--bd-violet-bg);
				--bs-btn-hover-color: var(--bs-white);
				--bs-btn-hover-bg: #6528e0;
				--bs-btn-hover-border-color: #6528e0;
				--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
				--bs-btn-active-color: var(--bs-btn-hover-color);
				--bs-btn-active-bg: #5a23c8;
				--bs-btn-active-border-color: #5a23c8
			}
			.bd-mode-toggle {
				z-index: 1500
			}
			.bd-mode-toggle .bi {
				width: 1em;
				height: 1em
			}
			.bd-mode-toggle .dropdown-menu .active .bi {
				display: block !important
			}
			.bi {
				display: inline-block;
				width: 1rem;
				height: 1rem;
			}

			/*
            * Sidebar
            */

			@media(min-width: 768px) {
				.sidebar .offcanvas-lg {
					position: -webkit-sticky;
					position: sticky;
					top: 48px;
				}
				.navbar-search {
					display: block;
				}
			}

			.sidebar .nav-link {
				font-size: 0.875rem;
				font-weight: 500;
			}

			.sidebar .nav-link.active {
				color: #2470dc;
			}

			.sidebar-heading {
				font-size: 0.75rem;
			}

			/*
            * Navbar
            */

			.navbar-brand {
				padding-top: 0.75rem;
				padding-bottom: 0.75rem;
				background-color: rgba(0, 0, 0, 0.25);
				box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
			}

			.navbar .form-control {
				padding: 0.75rem 1rem;
			}
		</style>
	</head>
	<body>
		
		<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
			<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">OG</a>
			<ul class="navbar-nav flex-row d-md-none">
				<li class="nav-item text-nowrap">
					<button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa-solid fa-bars"></i>
					</button>
				</li>
			</ul>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
					<div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="sidebarMenuLabel">JD</h5>
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 active text-dark" aria-current="page" href="{{path('app_admin_home')}}">
                                        <i class="fa-solid fa-house"></i>
										Tableau de bord
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_admin_category_index')}}">
                                        <i class="fa-solid fa-folder"></i>
                                        Catégories
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_admin_post_index')}}">
                                        <i class="fa-solid fa-feather"></i>
										Articles
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_admin_tag_index')}}">
                                        <i class="fa-solid fa-hashtag"></i>
										Tags
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_admin_user_index')}}">
                                        <i class="fa-solid fa-users"></i>
                                        Utilisateurs
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="#">
									{# <a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_admin_comment_index')}}"> #}
                                        <i class="fa-solid fa-comments"></i>
                                        Commentaires
									</a>
								</li>
							</ul>

							<hr class="my-3">
							
							<ul class="nav flex-column mb-auto">
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_admin_profile_index')}}">
                                        <i class="fa-solid fa-user"></i>
										Mon profil
									</a>
								</li>
							</ul>

							<hr class="my-3">
                            
							<ul class="nav flex-column mb-auto">
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_user_home')}}">
										<i class="fa-solid fa-outdent"></i>
										Espace utilisateur
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_visitor_welcome')}}">
                                        <i class="fa-solid fa-rotate-left"></i>
										Retour au site
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center gap-2 text-dark" href="{{path('app_logout')}}">
                                        <i class="fa-solid fa-right-from-bracket"></i>
										Déconnexion
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pb-3">
					{% block main %}{% endblock %}
				</main>
			</div>
		</div>

	</body>
</html>